@model ShoeSelling.Models.ShoesSize

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ShoesSize</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EuNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EuNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UkNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UkNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SizeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
