@model IEnumerable<ShoeSelling.Models.ShoesSize>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EuNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UkNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EuNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UkNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SizeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SizeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SizeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
