@model ShoeSelling.Models.Shoes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Shoes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SizeID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SizeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColorID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColorID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeasonID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeasonID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ShoeID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
